body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}
ul{
    margin: 0px;
    Padding: 0px;
    list-style: none;
    background-color:#000;
    
    /*center the text */
}
li{
    
    display: inline-block;
    padding: 20px;
    font-size: 24px;
       
    line-height: 40px;
    

}
li a {
    display: inline;
    padding: 20px;
    
  }
a{
    text-decoration: none;
    color: #ffffff;
}

.Drop-shadow {  
    /* this class is used to make a png img with transparant background get a shadow effect */
    filter: drop-shadow(5px 5px 5px #222);
    width:200px;
    height:220px;
}