body{
  background-color: #000;
  z-index: 1;
}

:target::before {
  content: "";
  display: block;
  height: 60px; 
  margin: -60px 0 0; 
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 5rem;
}
#navbar {
  overflow: hidden;
  background: #AE1613;
  background: linear-gradient(to bottom, #AE1613, #64130E 100%);
  
  transition: height 0.66s ease-out;
}
.mt-0 {
  margin-left: 0px !important;
}

#aboutuscont{
  margin-left: 0px !important;
}

.background-pattern {
  background: url(../img/pattern.png);
  background-size: 6vw;
  background-position: center center;
}
#navbar a {
  float: left;
  display: block;
  /*color: #f2f2f2;
  text-align: center;*/
  padding-right: 30px;
  padding-bottom: 12px;
  padding-top: 5px;
 /* text-decoration: none;
  font-size: 17px;*/
}

#navbar a:hover {
  background-color: #64130E;
}

.navimg{
  height: 50px;
  width: 100px;
}

.logo{
  padding-left: 10px;
  width: 50px;
}

.navbar{
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
}

.navstick {
  position: fixed;
  top: 0;
  width: 100%;
}

#ourshows{
  width:800px; 
  height:600px; 
}

#fadeGallery{
  overflow: hidden;
  padding-top: 70px;
  padding-left: 10px;
  width:800px; 
  height:600px; 
}

#fadeGallery img{
  padding-bottom: 10px;
  border-radius: 20px;
  width:100%; 
  height:100%;
}

#fadeGallery img.active{
  display:block;
}

#adtext{
  margin-top: 500px;
  margin-left: 30px;
  position: absolute;
  font-size: 40px;
  color: rgb(233, 155, 14);
}

#menu{
  padding-left: 10px;
  width: 1200px;
  height: 600px;
}

#menu img{
  padding-bottom: 10px;
  width:100%; 
  height:100%; 
}

#aboutus{
  padding-left: 10px;
  width:79%;
  height:79%;
}

#aboutimg{
  padding-bottom: 10px; 
  width:100%; 
  height:100%;
}

#about-ida {
  height:45%;
}

#bookingdiv {
  padding-left:10px;
  width: 100%;
}

.bookingbackground {
  /* didn't succeed when I put the background here for some reason... */
  margin-bottom: 10px;
}


#topcont{
  margin: 0px;
}

#showlist{
  background-color: #000;
  padding-top: 75px;
  color: rgb(233, 155, 14);
  font-size: 20px;
}

#showlist li:hover{
  color: blueviolet;
}

.dropshadow {  
  /* this class is used to make a png img with transparant background get a shadow effect
  that follows the shape. (Can be used on ordinary square pictures as well.) */
  filter: drop-shadow(5px 5px 5px #222);
}

#about {
  font-family: Garamond, serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgb(233, 155, 14);
}

  /*footer*/

  footer {    
      background-color: black;
      display: block;
      font-family: Garamond, serif;
      text-decoration: none;
      font-size: 20px;
      color: white;
      padding-right: 30px;
      padding-bottom: 12px;
      padding-top: 5px;  
  }
  
  footer div {
      display: inline-block;
  }
  
  footer .logotype {
      height: 150px;
      padding-left: 20px;
  }
  
  footer .heading {
      font-size: 22px;
      font-weight: bold;
  }
  
  footer .social {
      height:40px;
      padding:5px;
  }
  
  footer div#map {
    height: 150px;
    width: 300px;
    padding: 10px;
  }
  
  #callwaiter{
      display: none;
      z-index: 2;
  }
  
  #showtext{ /* using display: none so toggle will show it on the first time*/
    display: none;
    z-index: 1;
}

.img2 { 
  position:absolute; 
  top: 80%; 
  left: 30%;
  height: 75px;
  z-index: 0; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*------ CSS for booking - start  ------*/


 /*Gallery*/
  div.gallery {
    border: 1px solid #ccc;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }

.galleryimg {
  width: 600;
  height: 400;
}
  
div.desc {
    padding: 15px;
    text-align: center;
  }
  
* {
    box-sizing: border-box;
  }
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* Booking style */

.paddedrow{
    padding: 20px; 
   
}

#Booking {
    padding: 5px; 
    float:left ;
    background-color:rgb(199, 150, 28,0.5);
    margin: 20px;
    border: 2px solid;
    border-radius: 5px;
}

/* form  */

form  input {
    padding: 10px;
    margin: 0;
    width: 400px;
    height: 39px;
    }

/* Makes responsive fields. Sets size and field alignment.
input, select{
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 250px;
    padding: 15px;
    border-radius:5px;
   
    }*/
/*---------BookingEnquiry---------*/

#BookingEnquiry {
    position:fixed;
    width: 500;
    height: 590;
    border: 2px solid;
    background-color: rgba(232, 227, 248, 0.9);
    top:10%; 
    left: 20%;
    right:50%;
    border-radius: 5%;  
    display: block; 
}

/* BookingPage */
#BookingPage {
  height: 75%;
} 

